*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

body {
  height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  place-content: start;
  overflow: hidden;
  transition: background-color 0.4s ease;
  animation: changeColor 0.5s linear infinite alternate both;

  .square {
    width: 1vw;
    height: 1vw;
    border: 1px solid #0004;
    flex-grow: 1;

    @media (width <= 1000px) and (orientation: portrait) {
      width: 2vw;
      height: 2vw;
    }

    &:nth-child(9n + 0) {
      background-color: var(--n1);
    }
    &:nth-child(9n + 1) {
      background-color: var(--n2);
    }
    &:nth-child(9n + 2) {
      background-color: var(--n3);
    }
    &:nth-child(9n + 3) {
      background-color: var(--n4);
    }
    &:nth-child(9n + 4) {
      background-color: var(--n5);
    }
    &:nth-child(9n + 5) {
      background-color: var(--n6);
    }
  }
}

@keyframes changeColor {
  0% {
    --n1: #caefd7;
    --n2: #0061ff;
    --n3: #9bf8f4;
  }
  100% {
    --n6: #30c67c;
    --n5: #00ff87;
    --n4: #aefb2a;
  }
}
